name: Crawl & Deploy

on:
  workflow_dispatch:
  schedule:
    # this workflow triggers every hour
    - cron: "30 * * * *"

jobs:
  daemon:
    uses: yourssu/ssufid/.github/workflows/daemon.yml@main
    concurrency:
      group: daemon
      cancel-in-progress: true
    with:
      excludes: ${{ vars.EXCLUDES }}
      limit: ${{ fromJson(vars.LIMIT) }}
    secrets:
      SSU_ID: ${{ vars.SSU_ID }}
      SSU_PASSWORD: ${{ secrets.SSU_PASSWORD }}
      SLACK_WORKSPACE_TOKEN: ${{ secrets.SLACK_WORKSPACE_TOKEN }}
      SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
      SLACK_ERROR_CHANNEL_ID: ${{ secrets.SLACK_ERROR_CHANNEL_ID }}
    permissions:
      # push
      contents: write
      id-token: write

  deploy:
    needs: daemon
    if: always()
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: .generator/package.json

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "pnpm"
          cache-dependency-path: .generator/pnpm-lock.yaml

      - name: Install dependencies and build
        working-directory: .generator
        run: |
          pnpm install
          pnpm build

      - name: Remove hidden files and directories
        run: |
          find . -name '.*' -exec rm -rf {} +

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "."

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
